* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: normal;
    background-color: #ecf0f5;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

body * {
    font-family: "Montserrat", Arial, sans-serif;
}

body.body-loaded {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    color: #000;
}



.container {
    width: 100%;
}

.wrapper {
    overflow: initial !important;
}

hr {
    border-color: #ddd;
    margin-top: 10px;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.checkboxes label {
    position: relative;
    padding-left: 5px;
}

.checkboxes label::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #e5e5e5;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
    left: -5px;
}

.checkboxes label::after {
    content: '';
    width: 13px;
    height: 5px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
}

.checkboxes label:hover::before {
    border-color: #38c172;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.checkboxes input:checked+label::before {
    border-color: #38c172 !important;
}

.checkboxes input:checked+label::after {
    border-color: #38c172 !important;
}

.toggle-inputs label+input {
    display: none;
}

.toggle-inputs input:checked+label+input {
    display: block;
}

.toggle-inputs input:checked+label+input+input[type="file"] {
    display: none;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

/* CHECKBOX */
.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #e5e5e5;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0;
    box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -2px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-color: rgba(37, 25, 92, 0.4);
    background-image: none;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
    background-color: #25195c;
    left: 25px;
}

.custom-checkbox .custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

/* ENDS CHECKBOX */

.login-box-body {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.login-box,
.register-box {
    width: 360px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-logo a,
.register-logo a {
    /* color: #fff; */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.login-box .checkbox {
    margin-top: 5px;
}

.swal-overlay {
    overflow-y: auto !important;
}

.logo-lg img {
    max-height: 40px;
    top: 5px;
    position: relative;
}

.main-header .sidebar-toggle {
    padding: 18px;
}

.btn--remove {
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 25px;
}

.btn--remove:hover {
    opacity: 0.8;
}

.modal-image {
    position: relative;
    display: inline-block;
}

.box.box-primary{
    border-top-color: #25195c;
}