* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: normal;
    background-color: #ecf0f5;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

body.body-loaded{
    opacity: 1;
}

.container{
    width: 100%;
}

.wrapper{
    overflow: initial !important;
}

hr{
    border-color: #ddd;
    margin-top: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    vertical-align: middle;
}