:root {
    --bodyBackground: #ecf0f5;
    --containerPadding: 0 10px;
    --rowMargin: -10px;
    --colPadding: 10px;
    /* header */
    --headerBackground: #FFF;
    --headerHeight: 50px;
    /* content header */
    --contentHeaderPadding: 20px 20px 0 20px;
    --contentPadding: 20px 20px 0 20px;
    /* footer */
    --footerBackground: #fff;
    --footerHeight: 60px;
    --footerPadding: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    background-color: var(--bodyBackground);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

body.body-loaded{
    opacity: 1;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: var(--containerPadding);
}

.row {
    position: relative;
    width: 100%;
}

.container>.row {
    margin-left: var(--rowMargin);
    margin-right: var(--rowMargin);
}

.row::after {
    content: '';
    clear: both;
    display: block;
    width: 100%;
}

/* HEADER */

header {
    background-color: var(--headerBackground);
    position: relative;
}

/* END HEADER */

/* CONTENT HEADER */

.content-header {
    padding: var(--contentHeaderPadding);
}

/* /CONTENT HEADER */

/* CONTENT  */

.content {
    padding: var(--contentPadding);
}

/* /CONTENT  */

/* MAIN */

main {
    width: calc(100% - var(--asideWidth));
    float: right;
}

/* /MAIN */

/* FOOTER */

footer {
    background-color: var(--footerBackground);
    width: 100%;
    height: var(--footerHeight);
    padding: var(--footerPadding);
    float: right;
    position: relative;
}

/* /FOOTER */