.c-tab {
    $class: 'c-tab';

    position: relative;

    &__tabs {
        border-bottom: 1px solid $grey-light;
        &::after {
            content: '';
            width: 100%;
            display: block;
            clear: both;
        }
    }

    &__item {
        padding: 10px 20px;
        max-width: 150px;
        width: 100%;
        text-align: center;
        background-color: transparent;
        float: left;
        border: 0;
        @include font-size(15);
        border-bottom: 3px solid transparent;
        transition: all .5s ease;

        &.is-active {
            border-color: $primary;
        }
    }

    &__body {
        width: 100%;
        position: relative;
        padding: 10px;
    }
}