.c-aside {
  $class: c-aside;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($color: #000, $alpha: 0.8);

  &__content {
      padding: 10px;
      width: $asideMaxWidth;
      height: 100%;
      transition: left 0.2s ease-in-out;
      left: -100%;
      position: absolute;
      top: 0;
      background-color: $asideColor;
  }

  &.is-active {
      opacity: 1;
      visibility: visible;

      .#{$class}__content { left: 0}
  }
}