/* NAV COMPONENT */
.c-nav {
    $class: 'c-nav';

    &__item {
        background-color: $navItemColor;
        padding: 0 5px;
        margin: 5px 0;

        &-active {
            .#{$class}__link {
                text-decoration: none;
                background-color: rgba($color: $primary, $alpha: .3);
                color: $primary;
            }

            .#{$class}__icon {
                color: $primary;
            }
        }
    }

    &__link {
        color: $navLinkTextColor;
        display: block;
        padding: 10px 20px;
        transition: all 0.3s ease;
        border-radius: 5px;

        &:hover {
            text-decoration: none;
            background-color: rgba($color: $primary, $alpha: .3);
            color: $primary;

            .#{$class}__icon {
                color: $primary;
            }
        }

        &.is-active {
            text-decoration: none;
            background-color: rgba($color: $primary, $alpha: .3);
            color: $primary;

            .#{$class}__icon {
                color: $primary;
            }
        }
    }

    &__icon {
        color: $grey;
    }
}