.c-form {
    $class: 'c-form';

    position: relative;

    &__input {
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        line-height: 40px;
        color: $dark;
        outline: none;
        display: inline-block;
        width: 100%;
        resize: vertical;
        margin: 5px 0;
        transition: box-shadow .2s ease;
        &:focus{
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        }

        @include placeholder {
            color: $grey;
        }
    }

    &__label {
        @include font-size(13);
        color: $dark;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__label+&__input {
        margin: 0 0 10px;
    }

    &__btn {
        position: relative;
    }

    &__help {
        color: $grey-light;
        @include font-size(14);
    }

    &__checkbox {
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;

        &-indicator {
            content: "";
            display: inline-block;
            position: relative;
            width: 25px;
            height: 25px;
            background-color: #e5e5e5;
            border-radius: 5px;
            margin-right: 10px;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            vertical-align: middle;
            margin: 0;
            box-shadow: none;

            &::after {
                content: "";
                display: inline-block;
                position: relative;
                width: 13px;
                height: 6px;
                border-left: 2px solid transparent;
                border-bottom: 2px solid transparent;
                background-color: transparent;
                transform: rotate(-45deg);
                left: 6px;
                top: -1px;
            }
        }

        .#{$class}__input:checked~&-indicator {
            background-color: rgba($color: $primary, $alpha: 0.8);
        }

        .#{$class}__input:checked~&-indicator:after {
            border-color: $white;
        }

        // modifier
        &--toggle {
            .#{$class}__checkbox-indicator {
                content: "";
                display: inline-block;
                position: relative;
                width: 40px;
                height: 15px;
                background-color: #e5e5e5;
                border-radius: 15px;
                margin-right: 10px;
                -webkit-transition: background .3s ease;
                transition: background .3s ease;
                vertical-align: middle;
                margin: 0;
                box-shadow: none;

                &:after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background-color: #f1f1f1;
                    border-radius: 21px;
                    border: 0;
                    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
                    left: -2px;
                    top: -2px;
                    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
                    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
                }
            }

            .#{$class}__input:checked~.#{$class}__checkbox-indicator:after {
                background-color: $primary;
                left: 25px;
            }

            .#{$class}__input:checked~.#{$class}__checkbox-indicator {
                background-color: rgba($color: $primary, $alpha: 0.4);
                background-image: none;
                box-shadow: none !important;
            }
        }

        &--radio {
            .#{$class}__checkbox-indicator {
                border-radius: 100%;
                border: 2px solid transparent;
                position: relative;

                &::after{
                    border: 0;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 100%;
                    transition: background-color 0.2s ease;
                }
            }

            .#{$class}__input:checked~.#{$class}__checkbox-indicator {
                background-color: transparent;
                border-color: $primary;
                box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);

                &:after{
                    background-color: rgba($color: $primary, $alpha: 0.8);
                }
            }

            
        }

    }

    &--search {
        margin: 4px 0 0;
        padding: 0 5px;
        width: 100%;
        max-width: 300px;

        .#{$class}__input {
            width: 100%;
        }
    }

    &--group {
        &-left {

            .#{$class}__btn {
                left: 4px;
            }

            .#{$class}__input {
                padding-left: 50px;
            }
        }

        &-right {

            .#{$class}__btn {
                right: 3px;
            }

            .#{$class}__input {
                padding-right: 50px;
            }

        }

        .#{$class}__btn {
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            max-width: 50px;
        }
    }
}