.c-nav{
    $class: 'c-nav';

    /* default styles */
    position: fixed;
    top: 0;
    left: 0;
    background-color: $navColor;

    @include media(sm){
        height: 100%;
        width: 100%;
        max-width: $navMaxWidth;
    }
}