.c-form {
    $class: 'c-form';

    position: relative;

    &__input {
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        line-height: 40px;
        color: $dark;
        outline: none;
        display: inline-block;
        width: 100%;
        resize: vertical;
        margin: 5px 0;

        @include placeholder {
            color: $grey;
        }
    }

    &__label {
        @include font-size(13);
        color: $dark;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__label+&__input {
        margin: 0 0 10px;
    }

    &__btn {
        position: relative;
    }

    &__help{
        color: $grey-light;
        @include font-size(14);
    }

    &__checkbox{
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
        
        &-indicator {
            content: "";
            display: inline-block;
            position: relative;
            width: 40px;
            height: 15px;
            background-color: #e5e5e5;
            border-radius: 15px;
            margin-right: 10px;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            vertical-align: middle;
            margin: 0;
            box-shadow: none;
        }
        
        &-indicator:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #f1f1f1;
            border-radius: 21px;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
            left: -2px;
            top: -2px;
            -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
            transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        }
        
        .#{$class}__input:checked~&-indicator {
            background-color: rgba($color: $primary, $alpha: 0.4);
            background-image: none;
            box-shadow: none !important;
        }
        
        .#{$class}__input:checked~&-indicator:after {
            background-color: $primary;
            left: 25px;
        }
        
        .#{$class}__input:focus~&-indicator {
            box-shadow: none !important;
        }
        
    }

    &--search {
        margin: 4px 0 0;
        padding: 0 5px;
        width: 100%;
        max-width: 300px;

        .#{$class}__input {
            width: 100%;
        }
    }

    &--group {
        &-left {

            .#{$class}__btn {
                left: 4px;
            }

            .#{$class}__input{
                padding-left: 50px;
            }
        }

        &-right {

            .#{$class}__btn {
                right: 3px;
            }

            .#{$class}__input{
                padding-right: 50px;
            }

        }

        .#{$class}__btn {
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            max-width: 50px;
        }
    }
}