.c-table {
    $class: 'c-table';

    width: 100%;

    &__header {
        border-bottom: 1px solid $grey-light;
    }

    &__row {
        vertical-align: middle;

        &:nth-child(2n+2){
            background-color: $white-light;
        }

        & > td{
            padding: 10px 0;
            
        }
    }
}