.c-profile{
    position: relative;
    padding: 5px;

    &__name{
        display: block;
        font-weight: 600;
        @include font-size(17);
        margin: 20px 0 0;
    }

    &__email{
        @include font-size(14);
        font-family: 'Montserrat', sans-serif;
    }
}