button:hover {
    cursor: pointer;
}

.c-btn {
    font-weight: 500;
    @include font-size(14);
    text-transform: uppercase;
    padding: 0 16px;
    border-radius: 5px;
    border: 0;
    min-height: 36px;
    line-height: 36px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.29);
    display: inline-block;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.34);
    }

    &:focus {
        outline: none;
    }

    &--primary {
        background-color: $primary;
        color: $white !important;

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.85);
        }
    }

    &--default {
        color: $dark;

        &:hover {
            color: rgba($color: $dark, $alpha: 0.8);
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $grey-light;
        box-shadow: none;

        &:hover {
            color: $grey;
        }
    }

    &--text {
        background-color: transparent;
        box-shadow: none;
        color: $primary;

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.1);
            box-shadow: none;
            color: rgba($color: $primary, $alpha: 0.9);
        }
    }

    &--padding-0 {
        padding: 0;
    }

    &--lineheight-0 {
        line-height: normal;
        min-height: 0;
    }

    &--link {
        font-weight: 500;
        @include font-size(14);
        text-transform: uppercase;
        display: inline-block;
        color: $primary;
        background-color: transparent;
        box-shadow: none;

        &:hover {
            box-shadow: none;
            text-decoration: none !important;
        }
    }
}

#btn-menu {
    margin: 12px 10px 0;
}