.c-header {
    $class: 'c-header';

    /* default styles */
    display: block;
    height: $headerHeight;
    background-color: $navColor;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

    &__logo {
        max-width: 100px;
    }

    &__item {
        background-color: transparent;
        border: 0;
        padding: 0 20px;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: rgba($color: $white, $alpha: 0.3);
        }
    }

    &__lineHeight {
        line-height: $headerHeight;
    }

}