button:hover {
    cursor: pointer;
}

.c-btn {
    font-weight: 500;
    @include font-size(14);
    text-transform: uppercase;
    padding: 0 16px;
    border-radius: 5px;
    border: 0;
    min-height: 36px;
    position: relative;
    line-height: 36px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: inline-block;
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    }

    &:focus {
        outline: none;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &:active {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);  
    }

    &--primary {
        background-color: $primary;
        color: $white !important;

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.85);
        }
    }

    &--default {
        color: $dark;

        &:hover {
            color: rgba($color: $dark, $alpha: 0.8);
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $grey-light;
        box-shadow: none;

        &:hover {
            color: $grey;
        }
    }

    &--small{
        @include font-size(12);
        line-height: 30px;
        min-height: 30px;
    }
    &--text {
        background-color: transparent;
        box-shadow: none;
        color: $primary;

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.1);
            box-shadow: none;
            color: rgba($color: $primary, $alpha: 0.9);
        }
    }

    &--padding-0 {
        padding: 0;
    }

    &--lineheight-0 {
        line-height: normal;
        min-height: 0;
    }

    &--link {
        font-weight: 500;
        @include font-size(14);
        text-transform: uppercase;
        display: inline-block;
        color: $primary;
        background-color: transparent;
        box-shadow: none;

        &:hover {
            box-shadow: none;
            text-decoration: none !important;
        }
    }

    &--rounded{
        border-radius: 100%;
        width: 45px;
        height: 45px;
        padding: 0;
        min-height: 0;
        line-height: normal;
    }


    /* button colors */

    &--danger{
        background-color: $danger;
        color: $white;
    }
}

#btn-menu {
    margin: 12px 10px 0;
}