h1,
.h1 {
    @include font-size(96);
    font-weight: 300;
}

h2,
.h2 {
    @include font-size(60);
    font-weight: 300;
}

h3,
.h3 {
    font-weight: 400;
    @include font-size(48);
}

h4,
.h4 {
    font-weight: 400;
    @include font-size(34);
}

h5,
.h5 {
    font-weight: 400;
    @include font-size(24);
}

h6,
.h6 {
    font-weight: 500;
    @include font-size(20);
}

button{
    font-weight: 500;
    @include font-size(14);
    text-transform: uppercase;
}

p{
    @include font-size(16);
    font-weight: 400;
}

strong,
.strong {
    font-weight: 700;
}