@mixin media($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

// Typography
@mixin font-size($sizeValue: 12 ){
	font-size: $sizeValue + px; //fallback for old browsers
	font-size: (0.0625 * $sizeValue) + rem;
};

@mixin font-light(){
    font-weight: 300;
}

@mixin font-lightItalic {
    font-weight: 300;
    font-style: italic;
}

@mixin font-medium {
    font-weight: 500;
}

@mixin font-mediumItalic {
    font-weight: 500;
    font-style: italic;
}

@mixin font-bold {
    font-weight: 700;
}

@mixin font-black {
    font-weight: 900;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
};

@mixin buttonStyle {
    font-weight: 500;
    @include font-size(14);
    text-transform: uppercase;
}
