.u-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.u-icon-before * {
    margin: 0 10px 0 0;
}

.u-icon-after * {
    margin: 0 0 0 10px;
}

.u-margin {
    display: block;

    &-0 {
        margin: 0;
    }

    &-bottom-s {
        margin-bottom: 10px;
    }

    &-bottom-m {
        margin-bottom: 20px;
    }

    &-bottom-l {
        margin-bottom: 30px;
    }
}

.u-padding-0 {
    padding: 0;
}

.u-unlist {
    list-style: none;
}

.u-tag{
    $class:'u-tag';

    padding: 5px 10px;
    border-radius: $radius;
    @include font-size(10);
    text-transform: uppercase;
    color: $white;
    &--success{
        background-color: $success;
    }

    &--danger{
        background-color: $danger;
    }
}

.hidden {
    display: none;
}