.u-img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.u-icon-before *{
    margin: 0 10px 0 0;
}

.u-icon-after *{
    margin: 0 0 0 10px;
}

.u-margin-0{
    margin: 0;
}

.u-padding-0{
    padding: 0;
}

.u-unlist{
    list-style: none;
}