// Typography
$font: "Roboto", sans-serif;
$font-variant: "Raleway", sans-serif;
$fontSizeDefault: 15px;
$lineHeightDefault: 1.4;

// Colors
$white       : #fff;
$white-light : #f2f2f2;
$dark        : #181818;
$dark-light  : #232323;
$blue-grey   : #37474f;

$primary     : #304ffe;
$grey        : #616161;
$grey-light  : #d9d9d9;

$danger      : #d32f2f;
$success     : #00c853;
$warning     : #ffc400;
$info        : #3d5afe;

// Body
$bodyColor: $white-light;

// ASIDE
$asideMaxWidth: 300px;
$asideColor: $white;

// NAV
$navColor: $white;
// _ITEM
$navItemColor: $white;
// _LINK
$navLinkTextColor: $dark;
$navLinkColorHover: #3700B3;

$headerHeight: 60px;

$radius: 5px;