// Typography
$font: "Roboto",
sans-serif;
$font-variant: "Raleway",
sans-serif;
$fontSizeDefault: 15px;
$lineHeightDefault: 1.4;

// Colors
$white : #fff;
$white-light : #f2f2f2;
$dark : #181818;
$dark-light : #232323;
$blue-grey : #37474f;

$grey : #616161;
$grey-light : #d1d1d1;

$primary: #2962FF;
$secondary: #e57373;
$accent: #9c27b0;
$danger: #f44336;
$warning: #ffeb3b;
$info: #2196f3;
$success: #4caf50;

$colors : (
  primary: "#2962FF",
  secondary: "#e57373",
  accent: "#9c27b0",
  error: "#f44336",
  warning: "#ffeb3b",
  info: "#2196f3",
  success: "#4caf50"
);

// Body
$bodyColor: $white-light;

// ASIDE
$asideMaxWidth: 300px;
$asideColor: $white;

// NAV
$navColor: $white;
// _ITEM
$navItemColor: $white;
// _LINK
$navLinkTextColor: $dark;
$navLinkColorHover: #3700B3;

$headerHeight: 60px;

$radius: 5px;