// Typography
$font: "Montserrat", sans-serif;
$fontSizeDefault: 15px;
$lineHeightDefault: 1.4;

// Colors
$white       : #fff;
$white-light : #f2f2f2;
$dark        : #000;
$dark-light  : #232323;

// Body
$bodyColor: $white-light;

// NAV
$navColor: $white;
$navMaxWidth: 250px;