/* Bootstrap */
@import '~bootstrap/scss/bootstrap';
/* Bootstrap end */

/* Variables */
@import 'variables';
/* Variables end */

/* Mixins */
@import 'mixins';
/* Mixins end */

/* Utilities */
@import 'utilities';
/* Utilities end */

/* Components */
@import 'components';
@import 'component.nav';
@import 'component.button';
@import 'component.profile';
/* Components end */

/* Fonts */
@import 'fonts';
/* Fonts end */

/* layouts */
@import 'layouts/layouts.login';
/* layouts end */

body {
    background-color: $bodyColor;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    font-family: $font;

    @include media(md) {
        font-size: $fontSizeDefault;
        line-height: $lineHeightDefault;
    }

    &.in-modal {
        overflow: hidden;
    }

    &.body-loaded {
        opacity: 1;
    }
}

aside {
    width: $asideMaxWidth;
    background-color: $asideColor;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
}
header,
aside+main {
    padding-left: $asideMaxWidth;
}

a{
    &:hover{
        text-decoration: none;
    }
}

[data-scope] {
    display: none;
}

.is-active {
    display: block;
}